@model List<Book>

<table class="table">
	<thead>
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th></th>
		</tr>
	</thead>
	<tbody>

		@foreach (var book in Model)
		{
			<tr>
				<td><a href="books/detail">@book.Title</a></td>
				<td>@book.Author</td>
				<td>Sil/Güncelle</td>
			</tr>
			



		}



	</tbody>




</table>
